Middleware/Web References/proxyDecrypt/ProjetServiceBean.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://facade.projetmgmt.exia.com/" targetNamespace="http://facade.projetmgmt.exia.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="decodage" type="tns:decodage" />
  <xs:element name="decodageResponse" type="tns:decodageResponse" />
  <xs:complexType name="decodage">
    <xs:sequence>
      <xs:element minOccurs="0" name="STC_MSG" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="decodageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="text" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>